@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;600&family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css");

* {
}

header {
  display: flex;
  justify-content: space-between;
  border-bottom: 3px solid black;
  padding: 25px 50px;
  align-items: center;
}

.header-brand {
  text-decoration: none;
  font-weight: bold;
  color: black;
  font-size: 1.7em;
}

.menue {
}

.menue-bar {
  background: black;
  color: white;
  background-origin: none;
  padding: 10px 15px;
}
